ROLE=worker
NODE_RANK=1
HEADLESS=1

MODEL_ROOT=/home/admin/model
CACHE_ROOT=/home/admin/.cache/huggingface

FABRIC_IFNAME=enp1s0f0np0
FABRIC_CIDR=192.168.192.198/24
VLLM_HOST_IP=192.168.192.198
MASTER_ADDR=192.168.192.181
PEER_FABRIC_IP=192.168.192.181
